
@{
    ViewData["Title"] = "_HomeLayout";
    Layout = "_Layout.cshtml";
}

<h2>Welcome to NetCoreTestApp!</h2>
@RenderBody()
<img src="https://images.pexels.com/photos/236047/pexels-photo-236047.jpeg?auto=compress&cs=tinysrgb&h=350" />
