@{
    ViewData["Title"] = "Home Page";
}

<br/>
<h2>Welcome!</h2>
<div>Available pages:</div>
<ul>
    <li><a href="/Categories">Categories</a></li>
    <li><a href="/Products">Products</a></li>
</ul>
